html {
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
div {
	/*border: 1px solid chocolate;*/
}
ul {
	margin:0;
	padding:0;
}

.content {
	padding: 15px;
	margin: 0 auto;
	width: 970px;

}
.top-navigation {
	background-color:white;
	position: fixed;
	width: 100%;
}
.links li{
	display: inline-block;
	padding-left: 2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#838994;
	letter-spacing: 0.03em;
}
.links {
	float:right;
	margin:1em;
	padding-left:3em;
	
}

li {
	display: inline-block;
	text-align: -webkit-match-parent;
	padding-left: 2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#838994;
	letter-spacing: 0.03em;
	
}
.links li:hover {
	color:#4c5058;
	font-weight: 500;
	cursor: pointer;
	color:#333333;
}
.top-navigation .links > .active{
	color:#4c5058;
	font-weight:500;
}
ul {
	display: block;
	list-style-type: none;
	margin-bottom: -1.5em;
	
}
.introduction {
	text-align:center;
	width:100%;
	background-image:url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	padding: 9em 0;
	
}
.introduction .learnmore {
	width:155px;
	height: 55px;
	background-color:#ff471a;
    color: white;
    text-align: center;
    margin-top: 1.563rem;
    moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
  	box-shadow: none;
  	border-style: none;
  	border-radius: 4px;
}
.learnmore:hover {
	cursor: pointer;
}
.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.03em;
}
.icons {
	padding: 4em 0;
}
.iconheader {
	text-align: center;
	margin: 1.625rem 0 3.125rem;
}
.headeritem {
	width: 33%;
	display: inline-block;
	text-align:center;
}
.social hr{
	border:0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
.social {
	text-align:center;
}
hr {
	display:block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after:0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
}
h4{
	text-align: center;
	margin-bottom:0;
}
.social .fontawesome > li {
	border-radius: 50%;
	width: 2.5em;
	height:2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;

}
.facebook, .twitter, .instagram > li {
	display:inline-block;
	box-sizing: border-box;
}
.twitter {
	color:#55acee;
}
.facebook, .instagram {
	color:#3f729b;
}
.social .fontawesome > li:hover {
	cursor: pointer;
}
h1, h2, h3, h4 {
	font-weight: 300;
}
h1 {
	font-size: 48px;
}
h3 {
	font-size: 24px
}
.copy {
	font-size:14px;
	font-weight:300;
	margin-top: 5em;
}
footer {
	padding-bottom: 150px;
}
